# Copier les valeurs générées par scripts/install.sh dans /etc/synunnel/synunnel.env.
# Ne jamais placer les vraies valeurs dans le dépôt.
SECRET_KEY=valeur-aleatoire-longue
ADMIN_TOKEN=valeur-aleatoire-longue
PDNS_API_KEY=valeur-aleatoire-longue
PDNS_API_URL=http://127.0.0.1:8081/api/v1/servers/localhost
DATABASE=/var/lib/synunnel/synunnel.db
PUBLIC_IPV4=51.254.137.231
PUBLIC_IPV6=2001:41d0:305:2100::f36e
WG_ENDPOINT=51.254.137.231:51820
WG_SERVER_PUBLIC_KEY=cle-publique-wireguard
DASHBOARD_HOST=synunnel.fr
NS1_HOST=ns1.synunnel.fr
NS2_HOST=ns2.synunnel.fr
SOA_RNAME=hostmaster.synunnel.fr.
REDIRECT_HOSTS=synunnel.com,www.synunnel.com
ACME_EMAIL=ludo@synoptia.fr
SYNC_COMMAND='/usr/bin/sudo -n /usr/local/sbin/synunnel-sync'
