[Unit]
Description=Synunnel, rapprochement toutes les cinq minutes

[Timer]
OnBootSec=2min
OnUnitActiveSec=5min
RandomizedDelaySec=30s

[Install]
WantedBy=timers.target
